name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          # Windows x86_64
          - os: windows-latest
            target: x86_64-pc-windows-gnu
            artifact_name: env_checker.exe
          # Windows ARM64
          - os: windows-11-arm
            target: aarch64-pc-windows-gnullvm
            artifact_name: env_checker.exe
          # Linux x86_64
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: env_checker
          # Linux ARM64
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            artifact_name: env_checker
          # macOS x86_64
          - os: macos-15-intel
            target: x86_64-apple-darwin
            artifact_name: env_checker
          # macOS ARM64
          - os: macos-latest
            target: aarch64-apple-darwin
            artifact_name: env_checker

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}
          path: target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
